
#salesforce-img{
    height:89px;
    width:89px;
    margin-right:15px;
}

#heron-tower-img{
    height:120px;
    width:180px;
    margin-left:16px;
}

#hack-the-tower-logo{
    margin-right:16px;
}

#website-title{
    text-align: center;
}

/* Flexible iFrame for Google Map Embed*/
.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jumbotron-jr0cket {
  background-color: #E0FFFF
}
